.map-canvas {
  width: 100%;
  height: 600px;
  background-color: gray;
  position: absolute;
  z-index: -1;
}

.info {
  float: right;
  height: 570px;
  width: 400px;
  background: rgba(26, 188, 156, .5);
  margin: 15px;
  z-index: 1;
  color: white;
}

.info > header {
  text-align: center;
  padding: 15px;
  font-size: 22px;
}

.location {
  padding: 15px;
}

.info > .body {
  padding: 15px;
}
