html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header {
  text-align: center;
  color: rgba(26, 188, 156, 1);
}

.map-canvas {
  width: 100%;
  height: 600px;
  background-color: gray;
  position: absolute;
  z-index: -1;
}

.info {
  float: right;
  height: 570px;
  width: 400px;
  background: rgba(26, 188, 156, .5);
  margin: 15px;
  z-index: 1;
  color: white;
  border-radius: 3px;
}

.info > header {
  text-align: center;
  color: #fff;
  padding: 15px;
  font-size: 22px;
  border-bottom: 2px solid rgba(37, 37, 37, .4);
}

.info-image {
  width: 93%;
  height: 150px;
  margin: 15px;
  text-align: center;
  line-height: 40px;
  background-color: rgba(52, 152, 219, 1);
}

.location {
  padding: 15px;
}

.info > .body {
  padding: 15px;
  background-color: rgba(37, 37, 37, .6);
}
