<header>
  <h2 id="title">Boulder Nature Play Parks</h2>
</header>

{{#if selectedLocation}}
  {{google-maps latitude=selectedLocation.latitude longitude=selectedLocation.longitude}}
{{/if}}
{{view "select" content=locations value=selectedLocation optionLabelPath="content.name"}}

{{#link-to 'info'}}Info{{/link-to}}

{{#each park in model}}
  {{#link-to 'park' park}}park.name{{/link-to}}
{{/each}}

{{outlet}}
