<header>
  <h2 id="title">Boulder Nature Play Parks</h2>
</header>

{{#if selectedLocation}}
  {{ google-maps latitude=selectedLocation.latitude longitude=selectedLocation.longitude }}
{{/if}}

{{ view "select"
    content=model
    value=selectedLocation
    optionLabelPath="content.name"
}}

{{outlet}}

<!-- <footer>
  {{#link-to 'login'}}login{{/link-to}}
</footer> -->
