<div class="info">

  <!-- #placeholder -->
  <header>
    COLUMBINE PARK
  </header>
  <div class="info-image">
    I'm an image!
  </div>
  <div class="location">
    Location:
    <br>
    2202 Glenwood Dr.
    Boulder, CO 80304
  </div>
  <div class="body">
    <p>
      Columbine Park has a unique and recently renovated playground whose structures mimic natural features such as rocks, water, and river beds. This playground provides an environment for children to improve upon fine motor skills by climbing play rock structures as well as use their imaginations in the artistic playground inspired by waters movement and connections.
    </p>
  </div>

  {{outlet}}

</div>
